<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fulop_zoltan_simplexion">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HilltApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Probafeladat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fulop_Zoltan_Simplexion">
        <activity android:name=".Ui.Activity.MainActivity"
            android:theme="@style/Theme.Fulop_Zoltan_Simplexion.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="WeatherApiKey"
            android:value="" />
    </application>

</manifest>